@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<PetStore.Models.Product>
@{
    ViewData["Title"] = "HomePage";
}

<div>
    @foreach (var prodcut in Model)
    {
        @prodcut.Name
    }
</div>