@font-face {
    font-family: "Open-Sans";
    src: url('../fonts/Open-Sans/OpenSans-Regular.ttf');
}

html, body {
    font-family: Open-Sans;
}

#main{
    min-height:500px;
}

.hidden{
    display:none;
}

.collapse {
    display: flex;
}

.user-menu {
    margin-right: 20px;
}

    .user-menu li {
        padding: 10px 10px;
        font-size: medium;
        color: #424953;
    }

.user-menu-link {
    text-decoration: none;
    color: #424953;
}

    .user-menu-link:hover {
        color: white;
    }

/*****LOGO PANEL*****/

.logo-panel {
    height: 125px;
    background: #bfebdc;
}

.logo {
    height: 125px;
    width: 350px;
}

/*****NAVIGATION*****/

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #fed964;
}

/*****FOOTER*****/

footer {
    height: 130px;
    background-color: #1b9ca2;
}

    footer .container {
        padding: 25px;
    }

.footer-nav-title {
    color: white;
    font-size: medium;
    font-weight: 700;
    padding-bottom: 5px;
}

footer .container li a {
    color: white;
    font-size: small;
}

/*****CAROUSEL*****/

.carousel-inner img {
    width: 100%;
}

/*POPULAR PRODUCTS*/

.popular-products-container {
    display: inline-block;
}

.product-container {
    border: 1px solid grey;
    margin: 20px;
}

.popular-products {
    width: 100%;
}

.thumbnail {
    display: inline-block;
    margin: 20px 10px;
}

.price{
    display:block;
}

video {
    width: 600px;
    margin: 10px;
}

/*****ABOUT US*****/

.store-img {
    display: inline-block;
    padding: 50px;
}

.about-content {
    padding: 40px;
}


#map {
    height: 400px;
    width: 550px;
}

.fb-page {
    margin: 20px;
}


/*****Login Page*****/

.login-form-container {
    margin: 20px;
}

.login-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.register{
    margin: 15px 0;
    display:inline-block
}

.login-btn{
    margin-top: 7px;
}

.remember-me{
    margin-top:10px;
}


