.collapse {
    display: flex;
}

.user-menu {
    margin-right: 20px;
}

    .user-menu li {
        padding: 10px 10px;
        font-size: medium;
        color: #424953;
    }

.user-menu-link {
    text-decoration: none;
    color: #424953;
}

    .user-menu-link:hover {
        color: white;
    }

/*****LOGO PANEL*****/

.logo-panel {
    height: 125px;
    background: #bfebdc;
}

.logo {
    height: 125px;
    width: 350px;
}

/*****NAVIGATION*****/

.navbar-default {
    background-color: #fed964;
}
