

<div>
    <div class="row">
        <div class="col-lg-5 about-content">
            <h3>About Us!</h3>
            <p class="about">
                PetShop is a nationwide home delivery subscription service to pet food. We are a young company with a team of friendly, helpful staff dedicated to saving you time and money. All of our staff are pet owners so we understand the needs of other pet parents.
            </p>
            <h3>How it all began…</h3>
            <p class="how-it-all-began">
                The idea for PetShop came from the founder; Adam's personal experience. His mother suffers from arthritis and struggled with carrying heavy bags of dog food and last minute rushes to the supermarket to stock up on cat food. Adam also noticed that supermarket prices were really expensive and so he decided to set up a business with his partner Lexi that would make a positive impact on the pet industry.
            </p>
            <h3>What we do…</h3>
            <p class="how-it-all-began">
                The idea for PetShop came from the founder; Adam's personal experience. His mother suffers from arthritis and struggled with carrying heavy bags of dog food and last minute rushes to the supermarket to stock up on cat food. Adam also noticed that supermarket prices were really expensive and so he decided to set up a business with his partner Lexi that would make a positive impact on the pet industry.
            </p>
        </div>
        <div class="col-lg-5">
            <img class="store-img" src="~/img/store.jpg" alt="Store" />
        </div>
    </div>
</div>